@media (min-width: 2000px) {
   .cta {
      background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0.00) 50.52%, #242B33 90.1%),
      linear-gradient(90deg, #242B33 0%, hsla(212, 17%, 17%, 0) 70%, #242B33 95.1%),
      linear-gradient(270deg, #242B33 0%, rgba(36, 43, 51, 0.00) 70.52%, #242B33 95.1%),
      linear-gradient(0deg, rgba(36, 43, 51, 0.90) 0%,
         rgba(36, 43, 51, 0.90) 100%),
      url("#{$path}cta/cta-bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
   }

}

@include mediaTablet {
   .cta{
      padding-top: 90px;
      &__title{
         text-align: center;
         margin-bottom: 49px;
      }
      &__block{
         flex-direction: column;

      }
      &__text{
         margin: 0 auto 30px;
      }
      &__form{
         margin: 0 auto;
         gap: 30px 30px;
      }
   }
   .title{
      text-align: center;
   }
}

@include mediaSmTablet {
   .cta{
      &__form{
         grid-template-columns: 1fr;
         &-item{
            width: auto;
            order: -1;
         }
         width: 100%;
         
      }
      &__text{
         height: unset;
         width: unset;
         margin-bottom: 18px;
         font-size: .875rem;
      }
      
   }
   .order-1{
      order: 1;
   }
}

@include mediaPhone {
   .cta{
      &__title{
         font-size: 2rem;
      }
      &__text{
         
      }
      &__form{
         gap: 20px;
      }
   }
}