// Fonts 
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondory: 'Roboto', sans-serif;

// Colors
$accent: #D4C17F;
$dark: #242B33;
$white: #FFF;
$footer-bg: #2D343C;

//path
$path: './../img/';

// media
$table: 999px;